/* src/components/WelcomeScreen.css */
.welcome-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    position: relative;
  }
  
  .welcome-screen h1 {
    font-size: 3rem;
    color: #3e91a0;
    margin-bottom: 20px;
  }
  
  .name-input-container {
    background-color: #f4a261;
    padding: 20px;
    padding-right: 40px; 
    border-radius: 8px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .name-input-container label {
    display: block;
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 8px;
  }
  
  .name-input-container input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    text-align: center;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #333;
    background-color: #f4a261;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #e76f51;
  }
  